/* ===case页面=== */

.case_block {
  background: url(../../images/product/pro-bg.png) repeat-x center bottom;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 2.5rem;
}
.case {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
.case_item {
  width: 23.125rem;
  margin-right: 1.7rem;
  margin-bottom: 1.5rem;
}
.case_item:hover {
  position: relative;
  cursor: pointer;
}

.case_item_normal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #ffffff;
  border: 1px solid #e6e8f5;
}
.case_item_position {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e6e8f5;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.item_logo {
  margin-top: 2.5rem;
  width: 23.125rem;
  height: 14.375rem;
  box-sizing: border-box;
}
.item_logo img {
  width: 23.125rem;
  height: 14.375rem;
  display: block;
  margin: auto;
}
.item_name {
  font-size: 1rem;
  margin: 2.125rem auto 1.1875rem;
  color: #1e212c;
  text-align: center;
}
.item_content {
  width: 23.125rem;
  /* height: 5.5rem; */
  font-size: 0.875rem;
  color: #89919b;
}
.ellipsis_mulit {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  white-space: normal !important;
}
.item_more {
  font-size: 0.875rem;
  color: #2c6eff;
  margin-top: 1.4375rem;
  width: 100%;
  padding: 0 1.5625rem 1.4375rem;
  text-align: left;
}
.case_item_position .item_content {
  padding-bottom: 1.4375rem;
}
.item_more:hover {
  cursor: pointer;
}
@media (max-width: 750px) {
  .case {
    flex-direction: column;
  }
  .case_item {
    margin-right: 0;
    /* position: relative; */
    cursor: pointer;
  }
  .case_item_normal {
    display: none;
  }
  .case_item_position {
    display: flex;
    position: inherit;
  }
}
